configuration {
  drun-display-format: "{name}";
  modi: "drun";
  show-icons: false;
}

@theme "/home/pratik/.local/share/rofi/themes/windows11-list-light.rasi"

window {
    location:   south west;
    width   :   300px;
    x-offset:   220px;
}

mainbox {
    padding :   12px;
}

