configuration {
  drun-display-format: "{name}";
  modi: "drun";
  show-icons: false;
}

@theme "/home/pratik/.local/share/rofi/themes/windows11-list-light.rasi"


window {
    width   :   175px;
    location:   south east;
    x-offset:   -219px;
}

mainbox {
    padding :   0px 0px 3px 0px;
    spacing :   0px;
}

inputbar {
    enabled :   false;
}

listview {
    lines   :   5;
}

element {
    border-radius   :   0px;
}
