configuration {
  drun-display-format: "{name}";
  modi: "drun";
  show-icons: false;
}

@theme "/home/pratik/.local/share/rofi/themes/windows11-list-light.rasi"


window {
    width   :   300px;
    location:   south east;
    x-offset:   -219px;
}

mainbox {
    padding :   10px;
}

inputbar {
  children:		[ prompt ];
}

prompt { 
  enabled: true; 
  padding:		1px;
  border-radius:	15px;
}

